target/
*.class
.idea/
*.iml
.vscode/*.log
!/.vscode/settings.json

# Maven / Spring Boot
.mvn/wrapper/maven-wrapper.jar
data/covers/
*.log

# Frontend (Vue3)
frontend/node_modules/
frontend/node/
frontend/dist/
frontend/dist-ssr/
frontend/*.local
